:root {
    --primary-color: #fdf6e3;
    --primary-font: 'Fira Sans', sans-serif;
    --primary-font-size: 20px;
    --primary-font-color: #586e75;
    --secondary-font-color: #268bd2;
    --footer-font-color: #93a1a1;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: var(--primary-font-size);
    color: var(--primary-font-color);
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

.site-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.site-header {
    font-size: 1em;
    height: 1em;
    padding: 0.50em 0.75em 0.50em 0.75em;
    background: #eee8d5;
    display: flex;
    align-items: center;
}

.header-title-main {
    color: var(--secondary-font-color);
    text-transform: uppercase;
    font-weight: bolder;
    display: inline-block;
    letter-spacing: .01em;
}

.site-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 0.25em 0.50em 0.25em 0.50em;
}

.site-content-left {
    width: 300px;
    display: flex;
    flex-direction: column;
    padding: 0.25em 0 0.25em 0;
}

.information {
    display: flex;
    flex-direction: row;
    flex-grow: 1;
}

.refine {
    padding: 0.50em 0 0.50em 0;
}

.refine-button {}

.refine-selector {
    padding: 0.50em 0 0.50em 0;
    display: none;
}

.map {
    height: 200px;
    border: solid #93a1a1 1px;
}

.country {
    fill: #93a1a1;
    padding: 0.25em 0 0 0;
    stroke: 1px;
    stroke-opacity: 0;
}

.country-over {
    fill: #dc322f;
}

.site-content-right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0.25em 0.50em 0.25em 0.50em;
}

.chart-button {
    display: flex;
    flex-direction: row;
    height: 1em;
    font-size: 0.65em;
    text-transform: uppercase;
    padding: 0.25em 0 1.0em 0;
}

.button-order {
    display: flex;
    flex-direction: row;
    margin: 0 50px 0 0;
    /* flex-basis: auto; */
}

.button-color {
    display: flex;
    flex-direction: row;
}

.chart-button label {
    cursor: pointer;
    padding: 0 5px;
}

.chart-button label:first-of-type {
    border-right: solid 1px #586e75;
}

.chart-button label:last-of-type {
    padding-left: 0
}

.label-selected {
    color: #268bd2;
}

.chart-button input[type="radio"] {
    display: none
}

.chart-button input[type="checkbox"] {
    display: none
}

.chart-bold {
    font-weight: bolder;
    /* margin-right: 10px; */
}

.chart-main {
    flex: 1;
}

.site-footer {
    font-size: 0.85em;
    height: 0.85em;
    padding: 0.50em 0.50em 0.75em .50em;
    background: #eee8d5;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footer-title-main {
    color: var(--footer-font-color);
    text-transform: uppercase;
    font-weight: bolder;
    letter-spacing: .01em;
}

.footer-title-main a {
    color: inherit;
    text-decoration: inherit;
}

.footer-title-main a:hover {
    color: #268bd2;
}

.footer-title-sub {
    color: var(--footer-font-color);
    text-transform: uppercase;
    font-weight: normal;
    /* display: ; */
    /* letter-spacing: .01em; */
}

.event {
    fill: #586e75;
    cursor: pointer;
}

.event-over {
    fill: #268bd2;
}

.axis {
    font-size: 12px
}

.axis path,
.axis line {
    fill: none;
    stroke: #93a1a1;
    opacity: .4;
    stroke-dasharray: 0 10;
    stroke-linecap: round;
    stroke-width: 2px;
    shape-rendering: crispEdges
}

.axis path {
    stroke: none
}

.axis text {
    fill: #93a1a1;
}

.tooltip {
    position: absolute;
    background-color: var(--primary-color);
    display: none;
    border: 3px solid var(--primary-font-color);
    padding: 5px;
    color: var(--primary-font-color);
}

.tooltipTextPrimary {
    color: var(--secondary-font-color);
    font-weight: 700;
    margin: 0;
    padding: 0;
}

.tooltipTextSecondary {
    margin: 0;
    padding: 0;
    font-size: 0.75em;
}

.tooltipTextTertiary {
    margin: 0;
    padding: 0;
    font-size: 0.90em;
}