:root {
    --primary-color: #fdf6e3;
    --primary-font: 'Fira Sans', sans-serif;
    --primary-font-size: 20px;
    --header-font-color: #268bd2;
    --footer-font-color: #93a1a1;
}

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    font-family: var(--primary-font);
    font-size: var(--primary-font-size);
    overflow: hidden;
    display: flex;
    flex-flow: column;
}

.site-container {
    height: 100vh;
    display: flex;
    flex-direction: column;
}

.site-header {
    font-size: 1em;
    height: 1em;
    padding: 0.25em 0.50em 0.25em 0.50em;
    background: #eee8d5;
    display: flex;
    align-items: center;
}

.header-title-main {
    color: var(--header-font-color);
    text-transform: uppercase;
    font-weight: bolder;
    display: inline-block;
    letter-spacing: .01em;
}

.site-content {
    flex: 1;
    display: flex;
    flex-direction: row;
    padding: 0.25em 0.50em 0.25em 0.50em;
}

.site-content-left {
    width: 300px;
}

.site-content-right {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    padding: 0.25em 0.50em 0.25em 0.50em;
}

.chart-header {
    height: 1em;
    font-size: 0.75em;
    padding: 0.25em 0 0.25em 0;
}

.chart-main {
    flex: 1;
}

.site-footer {
    font-size: 0.75em;
    height: 0.75em;
    padding: 0.25em 0.50em 0.25em 0.50em;
    background: #eee8d5;
    display: flex;
    align-items: center;
}

.footer-title-main {
    color: var(--footer-font-color);
    text-transform: uppercase;
    font-weight: bolder;
    display: inline-block;
    letter-spacing: .01em;
}